numpy
matplotlib
scikit-image
pynwb
ipympl
ipydatagrid
ipyvolume>=0.6.0a10
ipywidgets<8.0
plotly
tqdm>=4.36.0
zarr
tifffile
ndx-spectrum
ndx-icephys-meta
ndx-grayscalevolume
trimesh
dandi
importlib-metadata
fsspec
requests
aiohttp
ipydatawidgets==4.3.2
itkwidgets[all]>=1.0a23
ccfwidget